<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div th:fragment="header">
    <br>
    <div>

        <table id="searchInterviewRoundResult">
            <caption><b>Interview Round Details</b></caption>

            <thead>
            <tr>

                <th> id</th>
                <th> interviewId</th>
                <th> roundName</th>
                <th> roundStatus</th>
                <th> rounfFeedback</th>
                <th> roundQuestions</th>
                <th> createdOn</th>
                <th> updatedOn</th>
                <th> updatedOn</th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="prod : ${interviewRoundList}">


                <td th:text="${prod.id}"></td>
                <td th:text="${prod.interviewId}"></td>
                <td th:text="${prod.roundName}"></td>
                <td th:text="${prod.roundStatus}"></td>
                <td th:text="${prod.rounfFeedback }"></td>
                <td th:text="${prod.roundQuestions}"></td>
                <td th:text="${prod.createdOn}"></td>
                <td th:text="${prod.updatedOn}"></td>
                <td th:text="${prod.updatedOn}"></td>
            </tr>

            </tbody>

        </table>

    </div>
    <br>

</div>

</body>
</html>
